* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
body {
    font-family: 'Roboto', sans-serif;

}
#header {
    position: sticky;
    width: 1350px;
    height: 50px;
    padding: 20px 0;

    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-items: center;*/
    background: #FFFFFF;


}
.header a {
    font-size: 28px;
    font-weight: 700;
    line-height: 10px;
}
.header span {
    color: greenyellow;
}
.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-btn button {
    width: 78px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    transition: .7s;
}
.header-btn button:hover {
    background: greenyellow;

    transform: rotate(360deg);

    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

}
.header a {
    font-size: 24px;
    color: black;
    margin: 0 10px;
}

.header-end input {
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    margin-top: 50px;
    border-top: 1px solid transparent;
}
.header-ruler {
    width: 1200PX;
    border: 1px solid  #757575;;
}
/*PRODUCTD*/




.product-text {
    font-weight: 400;
    font-size: 18px;
    color: #1D1D1D;
    margin-top: 40px;
}
.product a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product-fon img {
    transform: translateY(20px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition:.7s ;
}
.product-fon img:hover {
    transition:.7s ;
    transform: translateZ(50px);
}
.product-fon h4 {
    font-weight: 400;
    font-size: 16px;
    color: #1D1D1D;
    margin-top: 20px;
}
.product-fon h5 {
    font-weight: 400;
    font-size: 14px;
    color: #626262;
    padding: 15px 0;
}
.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;



}
.product {
    padding: 20px 0;
}

/*PRODUCTD*/


/*FOOTER*/
#footer {
    background: #363333;
}

.footer {
    padding: 50px 0;
}
.footer a {
    font-size: 28px;
    color: #d4e4ec;
    margin: 0 10px;
    font-weight: 800;
    line-height: 20px;
}
.footer-top {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer span {
    color: greenyellow;
}
.footer hr {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    margin-top: 30px;
}
.select-icon {
    position: relative;
}
.iconka {
    position: absolute;
    color: #FFFFFF;
    font-size: 17px;
    padding: 13px 8px;

}
.select {

    width: 160px;
    height: 40px;
    font-size: 18px;
    background: #3B3B3B;
    border-radius: 2px;
    padding:  0 25px;
}
.select option {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.select-icon span {
    font-weight: 400;
    font-size:22px;
    line-height: 30px;
    color: #49A144;
}
.select-icon p {
    font-weight: 400;
    font-size: 22px;

    color: #FFFFFF;
    padding: 30px 0;
}
.icons {
    display: flex;
    align-items: center;
    /*color: #FFFFFF;*/
    font-size: 25px;
    background: none;
}

.fa-twitter {
    padding: 0 13px;
    color: #FFFFFF;
    transition: .7s;

}
.fa-twitter:hover {
    background: none;
    color: #b428ec;
    transition: .7s;
    transform: rotate(360deg);
}
.fa-facebook {
    padding: 0 13px;
    color: #FFFFFF;
    transition: .7s;
}
.fa-facebook:hover {
    background: none;
    color: #b428ec;
    transition: .7s;
    transform: rotate(360deg);

}
.insta {
    padding: 0 13px;
    color: #FFFFFF;
    transition: .7s;
}
.insta:hover {
    background: none;
    color: #b428ec;
    transition: .7s;
    transform: rotate(360deg);
}

.select-two {
    font-weight: 400;
    font-size: 19px;
    line-height: 15px;

    color: #FFFFFF;
}
.select-two h4{
    padding: 13px 0;
}
.select-three {
    font-weight: 400;
    font-size: 19px;
    line-height: 15px;

    color: #FFFFFF;
}


.select-three h4 {
    padding: 13px 0;
}
.footer-ruler {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    width: 100%;
}
.footer-btn {
    padding: 30px 10px;
    display:flex ;
    justify-content: center;
    align-items: center;

}
.btn-one {
    width: 140px;
    height: 45px;
    border: 2px solid #A6A6A6;
    border-radius: 10px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    transition: .7s;

}
.btn-one:hover {
    transition: .7s;
    background: #626262;
    transform: translateY(-20px);
    border: 2px solid blueviolet;

}
.fa-apple {
    font-size: 30px;
    color: #FFFFFF;
}
.btn-one h6 {
    display: flex;
    color: #FFFFFF;
    font-size: 12px;
}
.btn-one h4 {
    font-size: 17px;
    color: #FFFFFF;
}
.app-store {
    padding: 0 5px;
}
.btn-one a {
    font-size: 30px;
}
.google {
    display: flex;
    align-items:center ;
    color: #FFFFFF;
}
.ruler-two {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    width: 100%;
    margin-top: 20px;
}
.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.footer-text h5 {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}
.button-end {
    display: flex;
    align-items: center;
    justify-content:center;
   margin: 0 585px;
    width: 80px;
    height: 80px;


    background: #59BD5A;
    border-radius: 2px;
    transition: .7s;
}

.button-icons {
    position: absolute;
    font-size: 40px;
    margin-top: 16px;

    color:white;
    background: none;
    border: none;
    transition: .7s;

}
.button-end:hover {
    transition: .7s;
    background: #FFFFFF;
    transform: scale(1.2);
}
.button-icons:hover {
    transition: .7s;
    color: #f6bf00;
    transform: scale(1.2)
}

/*FOOTER*/